<% set_page_title "About" %>
<h4 class="page-header">About NLOJ </h4>
<h5>NLOJ Contributors</h5>
<div class="well">
  網站維護: <br>
  潘鈺程(Cheng0928)<br>
  薛詠謙(simplykyle)<br >
</div>
<h4>History</h4>
<h5>2024.9</h5>
<div class="well">
NLOJ 正式上線！使用 TIOJ 進行架站！
</div>
<h5>源起</h5>
<div class="well">
  由於 潘鈺程(Cheng0928) 太想在高中時打競程，卻發現了校內找不到隊友的問題，於是發起了「內高資訊讀書會」的計畫。 <br>
  在國輝老師的支持之下，讀書會成功創立，但卻沒有一個校內的題目練習平台。<br>
  所以找了 薛詠謙(simplykyle) 一起建置 NLOJ。
</div>
<h5>聯絡資訊</h5>
<div class="well">
  第 7<sup>th</sup> 內高資研 IG：<a href="https://www.instagram.com/nlcs_7th/">@nlcs_7th</a> <br>
  潘鈺程(Cheng0928) Discord：cheng0928<br>
  薛詠謙(simplykyle) Discord：justsimplykyle<br >
</div>
<h5>NLOJ 贊助</h5>
<div class="well">
  主機贊助: <br >
  NCSE Network<br >
</div>
<h5>TIOJ <small>INFOR Online Judge <%= Tioj::VERSION %></small> Info</h5>
<div class="well">
TIOJ is powered by Ruby on Rails! <br >
TIOJ Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj">https://github.com/TIOJ-INFOR-Online-Judge/tioj</a> <br>
Judge System Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge">https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge</a> <br>
Still in development, any issues or pull requests are welcomed. <br >
</div>
<h5>TIOJ Contributors</h5>
<div class="well">
  Developers: <br >
  建資25<sup>th</sup> 蕭從恩(joshua5201)<br>
  建資25<sup>th</sup> 陳家陞(qitar888)<br >
  建資25<sup>th</sup> 江懿友(silverneko) <br>
  Debugger and Adviser: <br>
  建電34<sup>th</sup> 丁安立(anlialtting) <br>
  Contributor: <br>
  IOI 29<sup>th</sup> 吳聖福(adrien1018, Yihda Yol) <br>
  IOI 29<sup>th</sup> 蘇柏瑄(briansu) <br>
  INFOR 29<sup>th</sup> 陳冠宇(edisonhello) <br>
</div>

